*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: #3498db;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-piano{
    display: flex;
}
.key{
    height: calc(var(--width) * 4);
    width: var(--width);
}
.white{
    --width: 100px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #333333;
}
.black{
    --width: 60px;
    background-color: #000000;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 1;
}
.white.active{
    background-color: #ccc;
}
.black.active{
    background-color: #333;
}